@font-face {
    font-family: 'Big Shoulders';
    src: url('../assets/fonts/BigShouldersDisplay-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit Light';
    src: url('../assets/fonts/Outfit-Light.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

