$heading-font-sizes: (
    xl: 96px,
    l: 70px,
    m: 60px,
    s: 36px
);

$heading-line-heights: (
    xl: 88px,
    l: 70px,
    m: 55px,
    s: 36px
);

$body-font-sizes: (
    m: 22px,
    s: 18px
);

$body-line-heights: (
    m: 32px,
    s: 28px
)