@use './variables' as *;
@use './fonts';
@use './typography' as t;
@use 'sass:map';
@use './buttons';

body {
    background-color: $white;
    width: 100%;
    height: auto;
    padding: 0px auto;
    margin: 0px;
}

h1 {
    font-family: 'Big Shoulders';
    font-size: map.get(t.$heading-font-sizes, xl);
    line-height: map.get(t.$heading-line-heights, xl);
    padding: 0px 12px;
    margin-bottom: 16px;
}

h2 {
    font-family: 'Big Shoulders';
    font-size: map.get(t.$heading-font-sizes, l);
    line-height: map.get(t.$heading-line-heights, l);
    padding: 0px 12px;
    margin: 12px auto;
}

h3 {
    font-family: 'Big Shoulders';
    font-size: map.get(t.$heading-font-sizes, m);
    line-height: map.get(t.$heading-line-heights, m);
    padding: 0px 12px;
    margin: 12px auto;
}

h4 {
    font-family: 'Big Shoulders';
    font-size: map.get(t.$heading-font-sizes, s);
    line-height: map.get(t.$heading-line-heights, s);
}

.home-page {
    display: flex;
    flex-direction: column;
    padding: 12px 8px;
    align-items: center;
    justify-content: center;
}
p.body-s {
    font-family: 'Outfit Light';
    font-size: map.get(t.$body-font-sizes, s);
    line-height: map.get(t.$body-line-heights, s);
    color: $grey;
    padding: 16px 8px;
}

.hero {
    margin: 0px 8px 120px 8px;
}

.hero-img-container {
    width: 95vw;
    height: 30vh;
    background-image: url('../assets/img/gallery-hero.png');
    background-position: center;
    background-size: 90%;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gallery-1, .gallery-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-container1 {
    width: 95vw;
    height: 40vh;
    background-image: url('../assets/img/gallery.png');
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;
}

.img-container2 {
    width: 95vw;
    height: 70vh;
    background-image: url('../assets/img/gallery-2.png');
    background-position: center;
    background-size: cover;
    margin-bottom: 40px
}

.img-container3 {
    width: 95vw;
    height: 30vh;
    background-image: url('../assets/img/gallery-3.png');
    background-position: center;
    background-size: cover;
    margin-bottom: 40px
}

.gallery-2 {
    display: flex;
    padding: 12px 8px;
}

.text-container {
    background-color: $black;
    padding: 36px 12px;
    margin-bottom: 100px;

    h3 {
        color: $white;
    }

    p {
        color: $white;
    }
}

footer.home {
    background-color: $black;
    padding: 36px 18px;
    display: flex;
    flex-direction: column;
    margin: 0px 0px;

    h4 {
        color: $white;
        margin: 0px;
        padding: 12px;
        font-size: 25px;
    }

    p {
        color: $white;
    }

    .icons-container {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin: 12px;
    }
}
