@use './variables' as *;
@use './fonts';
@use './typography' as t;
@use 'sass:map';
@use './buttons';

body {
    background-color: $white;
    width: 100%;
    height: auto;
    padding: 0px auto;
    margin: 0px;
}

h1 {
    font-family: 'Big Shoulders';
    font-size: map.get(t.$heading-font-sizes, xl);
    line-height: map.get(t.$heading-line-heights, xl);
    padding: 0px 12px;
    margin-bottom: 16px;
}

h2 {
    font-family: 'Big Shoulders';
    font-size: map.get(t.$heading-font-sizes, l);
    line-height: map.get(t.$heading-line-heights, l);
    padding: 0px 12px;
    margin: 12px auto;
}

h3 {
    font-family: 'Big Shoulders';
    font-size: map.get(t.$heading-font-sizes, m);
    line-height: map.get(t.$heading-line-heights, m);
    padding: 0px 12px;
    margin: 12px auto;
}

h4 {
    font-family: 'Big Shoulders';
    font-size: map.get(t.$heading-font-sizes, s);
    line-height: 25px;
}

.home-page {
    display: flex;
    flex-direction: column;
    padding: 12px 8px;
    align-items: center;
    justify-content: center;
}
p.body-s {
    font-family: 'Outfit Light';
    font-size: map.get(t.$body-font-sizes, s);
    line-height: map.get(t.$body-line-heights, s);
    color: $grey;
    padding: 16px 8px;
}

.hero {
    margin: 0px 8px 120px 8px;
}

.hero-img-container {
    width: 95vw;
    height: 30vh;
    background-image: url('../assets/img/gallery-hero.png');
    background-position: center;
    background-size: 90%;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    h1 {
        font-size: map.get(t.$heading-font-sizes, m);
        line-height: map.get(t.$heading-line-heights, m);
    }
}

.gallery-1, .gallery-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-container1 {
    width: 95vw;
    height: 40vh;
    background-image: url('../assets/img/gallery.png');
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;
}

.img-container2 {
    width: 95vw;
    height: 70vh;
    background-image: url('../assets/img/gallery-2.png');
    background-position: center;
    background-size: cover;
    margin-bottom: 40px
}

.img-container3 {
    width: 95vw;
    height: 30vh;
    background-image: url('../assets/img/gallery-3.png');
    background-position: center;
    background-size: cover;
    margin-bottom: 40px
}

.gallery-2 {
    display: flex;
    padding: 12px 8px;
}

.text-container {
    background-color: $black;
    padding: 36px 12px;
    margin-bottom: 100px;

    h3 {
        color: $white;
    }

    p {
        color: $white;
    }
}

footer.home {
    background-color: $black;
    padding: 36px 18px;
    display: flex;
    flex-direction: column;
    margin: 0px 0px;

    h4 {
        color: $white;
        margin: 0px;
        padding: 12px;
        font-size: 25px;
    }

    p {
        color: $white;
    }

    .icons-container {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin: 12px;
    }

    .social-icon {
        width: 20px;
        height: 20px;
    }
}

// Styles for Location Page
section.map {
    background-image: url('../assets/img/map-with-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 550px;
}

section.location-info {
    .title > h3 {
        padding: 0px;
        color: $white;
    }
    background-color: $black;
    padding: 36px 18px;

    .content {
        .subtitle {
            color: $orange;
        }
        .address {
            font-family: 'Outfit Light';
            font-size: map.get(t.$body-font-sizes, s);
            line-height: map.get(t.$body-line-heights, m);
            color: $white;
        }
        .text {
            font-family: 'Outfit Light';
            font-size: map.get(t.$body-font-sizes, s);
            line-height: map.get(t.$body-line-heights, s);
            color: $white;
        }
    }

}


footer.location {
    background-color: $orange;
    padding: 36px 18px;
    display: flex;
    flex-direction: column;
    margin: 0px 0px;

    h4 {
        color: $black;
        margin: 0px;
        padding: 12px;
        font-size: 25px;
    }

    p {
        color: $black;
    }

    .icons-container {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin: 12px;
    }

    .social-icon {
        width: 20px;
        height: 20px;
        filter: invert(0.9)
    }
}

// Media Querys for Tablet 
@media (min-width: 600px) and (max-width: 1024px) {
    .hero {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0px 0px 160px;
        padding: 0px;
        position: relative;

        h1 {
            font-size: map.get(t.$heading-font-sizes, l);
            line-height: 65px;
        }
        
        .hero-img-container {
            width: 430px;
            height: 700px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .hero-content {
            width: 355px;
            display: flex;
            flex-direction: column;
            align-items: start;
            position: relative;
            right: 50px;
        }
    }

    .gallery-1 {
        display: flex;
        flex-direction: row;
        flex-flow: row-reverse;
        align-items: center;
        justify-content: center;
        gap: 60px;

        .img-container1 {
            width: 400px;
            height: 400px;
            margin-bottom: 10px;
        }

        .text-content {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            width: 250px;
            
            h3 {
                font-size: 50px;
                line-height: 45px;
            }

            p {
                padding: 0px 12px;
            }
        }
    }

    .gallery-2 {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        align-items: center;
        gap: 10px;
        margin: 0px 50px;
        padding: 0px;
        margin-bottom: 130px;

        .img-container2 {
            width: 400px;
            height: 720px;
            grid-row: 2 span;
            margin: 0px;
        }

        .img-container3 {
            width: 300px;
            height: 313px;
            margin: 0px;
        }

        .text-container {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            margin: 0px;
            height: 328px;
            padding: 36px 16px;

            h3 {
                font-size: 50px;
                line-height: 45px;
            }

            p {
                padding-right: 36px;
                margin-top: 0px;
            }
        }
    }

    footer.home {
        height: 216px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        padding: 36px 30px 0px 30px;

        .icons-container {
            display: flex;
            flex-direction: row;
            gap: 20px;
            margin: 12px;
        }

        h4 {
            line-height: map.get(t.$body-line-heights, s);
        }

        p {
            width: 280px;
            margin: 0px;
            position: relative;
            right: 30px;
        }

    }
}

// Media Querys for Desktop
@media (min-width: 1024px) {

    .hero {
        width: 100vw;
        position: relative;
        height: 800px;

        .hero-img-container {
            z-index: -10;
            width: 980px;
            height: 800px;
            position: absolute;
            left: 0%;
            background-color: $black;
            background-position-x: 100%;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .hero-content {
            position: absolute;
            left: 10%;
            top: 20%;
            display: flex;
            flex-direction: row;
            gap: 150px;

            h1 {
                font-size: map.get(t.$heading-font-sizes, xl);
                line-height: map.get(t.$heading-line-heights, xl);
                font-weight: 900;
                color: $white;
                width: 600px;
            }

            div:nth-of-type(1) {
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 350px;

                p {
                    font-family: 'Outfit Light';
                    font-size: map.get(t.$body-font-sizes, m);
                    line-height: map.get(t.$body-line-heights, m);
                    color: $grey;
                    padding: 16px 8px;
                }
            }
        }
    }

    .gallery-1 {
        display: flex;
        flex-direction: row;
        flex-flow: row-reverse;
        align-items: center;
        justify-content: center;
        gap: 160px;

        .img-container1 {
            width: 635px;
            height: 400px;
            margin-bottom: 36px;
        }

        .text-content {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            width: 350px;
            
            h3 {
                font-size: map.get(t.$heading-font-sizes, m);
                line-height: map.get(t.$heading-line-heights, m);
            }

            p {
                font-family: 'Outfit Light';
                font-size: map.get(t.$body-font-sizes, m);;
                line-height: map.get(t.$body-line-heights, m);
                padding: 0px 12px;
            }
    }
    }

    .gallery-2 {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        align-items: center;
        gap: 32px;
        margin: 0px 50px;
        padding: 0px;
        margin-bottom: 130px;

        .img-container2 {
            width: 635px;
            height: 745px;
            grid-row: 2 span;
            margin: 0px;
        }

        .img-container3 {
            width: 480px;
            height: 313px;
            margin: 0px;
        }

        .text-container {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            margin: 0px;
            width: 445px;
            height: 328px;
            padding: 36px 18px;

            h3 {
                font-size: map.get(t.$heading-font-sizes, m);
                line-height: map.get(t.$heading-line-heights, m);
                margin-left: 20px;
            }

            p {
                font-size: map.get(t.$body-font-sizes, m);;
                line-height: map.get(t.$body-line-heights, m);
                padding-right: 36px;
                margin-top: 0px;
                margin-left: 20px;
            }
        }
    }

    footer.home {
        height: 244px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 130px 0px 130px;

        .icons-container {
            display: flex;
            flex-direction: row;
            gap: 20px;
            margin: 12px;
            position: relative;
            top: -22px;
        }

        h4 {
            font-size: map.get(t.$heading-font-sizes, s);
            line-height: map.get(t.$heading-line-heights, s);
        }

        p {
            width: 430px;
            margin: 0px;
            position: relative;
            right: 60px;
        }
    }
}

//Media Querys for Desktop Large
@media (min-width: 1440px) and (max-width: 2100px) {
        .hero {
        width: 100vw;
        position: relative;
        height: 800px;

        .hero-img-container {
            z-index: -10;
            width: 70vw;
            height: 800px;
            position: absolute;
            left: 0%;
            background-color: $black;
            background-position-x: 100%;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .hero-content {
            position: absolute;
            left: 20%;
            top: 20%;
            display: flex;
            flex-direction: row;
            gap: 200px;
            margin-left: 0px;

            h1 {
                font-size: map.get(t.$heading-font-sizes, xl);
                line-height: map.get(t.$heading-line-heights, xl);
                font-weight: 900;
                color: $white;
                width: 600px;
            }

            div:nth-of-type(1) {
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 350px;

                p {
                    font-family: 'Outfit Light';
                    font-size: map.get(t.$body-font-sizes, m);
                    line-height: map.get(t.$body-line-heights, m);
                    color: $grey;
                    padding: 16px 8px;
                }
            }
        }
    }
}

.social-icon:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}